<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dwakenya.techsavanna.newdwa">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/homecarehublogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/homecarehublogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".services.MpesaEmployeeActivity"></activity>
        <activity android:name=".FirstPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".RegisterStep2Activity" />
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_details"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EmployeeHomeActivity"
            android:label="@string/title_activity_employee_home"
            android:theme="@style/AppTheme" />
        <activity android:name=".CandidateActivity" />

        <service android:name=".services.DwaFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".ImageCompressedActivity" />
        <activity android:name=".FeedBackActivity" />
        <activity android:name=".HOSActivity" />
        <activity android:name=".OwnerResourcesActivity" />
        <activity android:name=".HORActivity" />
        <activity android:name=".HASActivity" />
        <activity android:name=".MpesaActivity" />
        <activity android:name=".MpesaActivityEmployee" />
        <activity android:name=".About" />
        <activity android:name=".ContractActivity" />
        <activity android:name=".FAQActivity" />
        <activity android:name=".HASTraining" />
        <activity android:name=".HORTraining" />
        <activity android:name=".Pdf" />
        <activity android:name=".PdfHAS" />
        <activity android:name=".PDFView" />
        <activity android:name=".Video" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>
    </application>

</manifest>